<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net452" />
  <package id="BitMiracle.Docotic.Pdf" version="5.2.8369" targetFramework="net452" />
  <package id="CsvHelper" version="2.13.5.0" targetFramework="net452" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="IvanAkcheurov.NTextCat.Lib" version="0.2.1.1" targetFramework="net452" />
  <package id="MathNet.Numerics" version="4.5.1" targetFramework="net452" />
  <package id="Metrics.NET" version="0.5.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="Numsense" version="0.12.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net452" />
  <package id="UiPath.CefSharpBundle" version="1.0.0" targetFramework="net452" />
  <package id="UiPath.IntelligentOCR.Activities" version="1.4.0" targetFramework="net452" />
  <package id="UiPath.Vision" version="1.2.0" targetFramework="net452" />
</packages>